{layout name="Common/index" /}

<div id="dcMain"> <!-- 当前位置 -->
    <div class="mainBox imgModule">
        <h3><a href="{:url('admin/lunbo/view')}"><button class="layui-btn layui-btn-normal" style="float:right;"><i class="layui-icon">&#xe654;</i>新增</button></a>轮播图列表</h3>
        <table width="100%" border="0" cellpadding="10" cellspacing="0" class="tableBasic">
            <tr>
                <th width="50px">id</th>
                <th>轮播图标题</th>
                <th>图片</th>
                <th width="15%">修改</th>
            </tr>
            {volist name="list" id="vo"}
                <tr class="tron">
                    <td>
                        {$vo.id}
                    </td>
                    <td>
                        {$vo.title}
                    </td>
                    <td>
                       <img src="{$vo.pic}" style="width:120px;">
                    </td>
                    <td><a href="{:url('admin/lunbo/view',['id'=>$vo['id']])}" class="layui-btn layui-btn-xs"><i class="layui-icon">&#xe642;</i>修改</a>
                        <a href="javascript:void(0)" @click="shanchu({$vo.id})" class="layui-btn layui-btn-danger layui-btn-xs"><i class="layui-icon">&#xe640;</i>删除</a>
                    </td>
                </tr>
            {/volist}
        </table>
        <div class="pager" style="float:right">{$page}</div>
    </div>
</div>
<div class="clear"></div>
<div id="footer">
    <div class="line"></div>
</div>
</div><!-- dcFooter 结束 -->
<div class="clear"></div> </div>
</body>
</html>
<script>
    new Vue({
        el: '#dcMain',
        methods: {
            shanchu: function (id) {
                var param = {};
                param.id = id;
                $.ajax({
                    url:"{:url('adminApi/lunbo/deleteServer')}",
                    type: 'post',
                    dataType: 'json',
                    data: param,
                    success: function(){
                        location.href="";
                    }
                })
            }
        }
    })
</script>
