{layout name="Common/index" /}
<div id="dcMain">
    <div class="mainBox imgModule">
        <h3><span class="actionBtn" style="margin-left: 10px; cursor: pointer;" onclick="goback();">返回</span>编辑轮播</h3>
            <table width="100%" border="0" cellpadding="8" cellspacing="0" class="tableBasic">
                <tr>
                    <td class="label" align="right">轮播名称：</td>
                    <td>
                        <input type="text"  name="title"  v-model="title"  size="50" class="title" value=""/>
                    </td>
                </tr>
                <tr>
                    <td class="label" align="right">跳转链接：</td>
                    <td>
                        <input type="text"  name="link"  v-model="link"  size="50"  value=""/>
                    </td>
                </tr>
                <tr>
                    <td align="right">图片：</td>
                    <td>
                        <img id="thumbnail_img" :src="pic" name="pic" class="picmoren">
                    </td>
                </tr>
                <tr>
                    <td align="right"></td>
                    <td>
                        <a class="btn picbtn" href="javascript:void(0);">
                            上传图片<input id="thumbnail" type="file" name="thumbnail" class="picstyle" @click="uploadimg"/></a>
                    </td>
                </tr>
                <tr>
                    <td class="label" align="right">排序：</td>
                    <td>
                        <input type="number"  name="sort"  v-model="sort"  size="5"  value=""/>
                    </td>
                </tr>
                <tr>
                    <td width="131"></td>
                    <td>
                        <input type="hidden" value="{{id}}" name="id" v-model="id">
                        <input name="button" class="btn sub" type="submit" value="提交" @click="submitForm" />
                    </td>
                </tr>
            </table>
    </div>
    <div class="clear"></div>
    <div id="footer">
        <div class="line"></div>
    </div>
    <div class="clear"></div>
</div>
<script>
    var moren = "{$moren}";
    var id = "{$id|default=null}";
    new Vue({
        el: '#dcMain',
        data: {
            title:"",
            pic:moren,
            info:"",
            id:id,
            editor:"",
            sort:"",
            link:""
        },
        methods: {
            submitForm: function(){
                var that=this;
                if(!that.title){
                    this.$Message.info("请填写标题");
                    return;
                }
                var param = {};
                param.title = that.title;
                param.pic = that.pic;
                param.id = that.id;
                param.link = that.link;
                param.sort = that.sort;
                $.ajax({
                    url:"{:url('adminApi/lunbo/uploadServer')}",
                    type: 'post',
                    dataType: 'json',
                    data: param,
                    success: function(data){
                        location.href="{:url('admin/lunbo/index')}";
                    }
                })
            },
            uploadimg:function(){
                var that=this;
                $("#thumbnail").live('change',function(){
                    $.ajaxFileUpload
                    (
                        {
                            url: "{:url('adminApi/common/upload_img')}",
                            fileElementId:'thumbnail',
                            dataType: 'json',
                            success: function (data)
                            {
                                if(data.code != 1)
                                {
                                    this.$Message.info(data.mag);
                                    return;
                                }else
                                {
                                    console.log(data.msg)
                                    that.pic = data.msg;
                                }
                            },
                            error: function (data, status, e)
                            {
                                alert(e);
                            }
                        }
                    )
                    return false;
                });
            },
            assign:function(id){
                var that=this;
                var param = {};
                param.id = id;
                $.ajax({
                    url:"{:url('adminApi/lunbo/getInfo')}",
                    type: 'post',
                    dataType: 'json',
                    data: param,
                    success: function(data){
                        data = JSON.parse(data['msg']);
                        that.title = data.title;
                        that.pic = data.pic;
                        that.link = data.link;
                        that.sort = data.sort;
                    }
                })
            }
        },
        mounted() {
            var that=this;
            if(that.id){
                that.assign(that.id);
            }
        }
    })
</script>
</body>
</html>