<!DOCTYPE>

<html>

<head>

 <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

 <title>后台管理中心</title>

 <meta name="Copyright" content="Douco Design." />
 <link rel="stylesheet" href="__PUBLIC__/css/bootstrap.css">
    <script src="//vuejs.org/js/vue.min.js"></script>
    <!-- import stylesheet -->
    <link rel="stylesheet" href="//unpkg.com/view-design/dist/styles/iview.css">
    <!-- import iView -->
    <script src="//unpkg.com/view-design/dist/iview.min.js"></script>


 <script type="text/javascript" src="__PUBLIC__/Admin/js/jquery-1.8.2.min.js"></script>

 <script type="text/javascript" src="__PUBLIC__/Admin/js/jquery.form.js"></script>

 <script type="text/javascript" src="__PUBLIC__/Admin/js/global.js"></script>

 <link rel="stylesheet" href="__PUBLIC__/Admin/styles/jquery-ui.css">

 <script src="__PUBLIC__/Ueditor/ueditor.config.js"></script>
 <script src="__PUBLIC__/Ueditor/ueditor.all.js"></script>

 <link rel="stylesheet" href="__PUBLIC__/Admin/layui/css/layui.css">
 <script src="__PUBLIC__/Admin/layui/layui.js"></script>


 <script type="text/javascript" src="__PUBLIC__/Admin/js/ajaxfileupload.js"></script>
<link href="__PUBLIC__/Admin/styles/public.css" rel="stylesheet" type="text/css">
 <script src="__PUBLIC__/Admin/js/common.js"></script>
</head>
<body style="height:100%">

<div id="dcWrap"> <div id="dcHead">

 <div id="head">

  <div class="nav">

   <ul>

    <li><a href="{:url('index')}">控制面板</a></li>

   </ul>

   <ul class="navRight">

<!--    <li class=""><a href="JavaScript:void(0);">您好，<?php echo session('adminname'); ?></a>-->

     <div class="drop mUser">

     </div>

    </li>

    <li class="noRight"><a href="{:url('adminApi/index/loginOut')}"><i class="layui-icon layui-index-menu"></i>&nbsp;退出</a></li>

   </ul>

  </div>

 </div>

</div>


  <div id="dcLeft">

  <div id="menu">

  <ul class="top">

   <li style="height:30px; line-height:30px;"><em style="font-size:18px;">管理后台</em></li>

  </ul>

  <ul id="menudiv">
   {volist name="menu" id="vo"}
    <li id="{$vo['funid']}" show="{$vo['funid']}" class=""><i class="icon_class  layui-icon {$vo['iconPicker']}" ></i><a href="{$vo['linkinfo']}"><em>{$vo['title']}</em></a></li>
   {/volist}
  </ul>
 </div>
 </div>
 {__CONTENT__}
</div>





